# Dependencies
node_modules

# Build outputs
dist
.next
.turbo

# Environment
.env
.env.*
!.env.example

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store

# Logs
*.log

# Test coverage
coverage